body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #434455;
}

.item{
list-style-type: none ;
}
.link {
    text-decoration: none;
}


.logo-link {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: #4D5AE5;
}

.logo {
    color: #2e2f42;
}

.page-nav .link {
    line-height: 1.5;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;
    font-weight: 500;
    letter-spacing: 0.32px;
    word-wrap: break-word;
}

/* Hero section */

.order-button {
    line-height: 1.5;
    font-size: 16px;
    background-color: #4D5AE5;
    cursor: pointer;
    color: white;
    font-weight: 500;
    letter-spacing: 0.04em;
    word-wrap: break-word;
}

button:hover,
button:focus {
    background-color: #404BBF;
    color: white;
    font-weight: 500;
    letter-spacing: 0.64px;
    word-wrap: break-word;
}

.contacts {
    font-style: normal;
}

.contacts-list .link {
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #434455;
    ;
    font-weight: 400;
    word-wrap: break-word;
}

.contacts-list .link:hover,
.contacts-list .link:active {
    color: #404BBF;
    font-weight: 400;
    letter-spacing: 0.32px;
    word-wrap: break-word;
}

.contacts-list .link:focus {
    color: #404bbf;
}

.hero-title {
    text-align: center;
    color: #ffffff;
    font-size: 56px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

.hero-section {
    background-color: #2E2F42;
}

/* Benefits section */
.benefits-list .item-title {
    line-height: 1.2;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.40px;
    word-wrap: break-word;
}

.benefits-list .item-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

/* Team section */
.team-section {
    background-color: #F4F4FD;
}

.team-section-title {
    color: #2e2f42;
    text-align: center;
    line-height: 1.11;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.72px;
    word-wrap: break-word;
}

.team-list .item {
    background-color: #FFFFFF;
}

.team-list .item-title {
    color: #2e2f42;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

.team-list .item-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

/* Portfolio section */
.portfolio-section-title {
    text-align: center;
    line-height: 1.1;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    color: #2e2f42;
}

.portfolio-list .item-title {
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    color: #2e2f42;
}

.portfolio-list .item-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    color: #434455;
}

/* FOOTER */
.footer-page {
    background-color: #2E2F42;
}

.logo-page-link {
    color: #4d5ae5;
    line-height: 1.17;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    word-wrap: break-word;
}

.footer-logo {
    color: #f4f4fd;
    font-size: 18px;
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    word-wrap: break-word;
}

.footer-text {
    color: #F4F4FD;
    font-weight: 400;
    letter-spacing: 0.02em;
    word-wrap: break-word;
} 